body {
    scroll-behavior: smooth;
    
}

/******* Nav bar*******/

.nav-button {
   border-radius: 20px;
   border: black 1px solid;
   width: 150px;
   padding: 3px;
}

.navbar {
    background: rgb(237, 237, 237, .1);
    backdrop-filter: blur(10px);
    border-color: rgb(51, 17, 0);
	border-color: rgba(51, 17, 0, 0.2);
	font-weight: 700;
	padding: 10px 0;
	transition: padding .5s;
}

.navbar .navbar-brand {
	font-weight: 500;
	text-transform: none;
	font-size: 25px;
	padding-left: 15px;
	text-shadow: black 0.2em 0.2em 0.2em;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	color: #ffc266;
	transition: color 1s;
}

.navbar .navbar-nav > li > a {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	margin: auto 5px;
    font-family: 'Lato', sans-serif; 
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus:hover {
	transition: color 1s; 
}


.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.active > a:focus:hover {
	background-color: transparent;
}


/*******jumbotron*******/
.jumbotron {
    color: ;
    height: 790px;
    padding: 100px;
}
.anime { 
    animation: fadeIn 2s ease-in-out;
  }
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
/******* about*******/

.bg-about {
    padding-top: 50px;
}

.first-abt, .second-abt, .third-abt {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.abt-hr {
   border: none;
   border-top: 3px solid #e2cdcd;
   width: 80%;
   margin: 20px auto;
}

.last-abt {
    margin: 10px;
}

/******* course*******/

.nav-underline {
    gap: 30px;
    padding: 20px;
}

.second {
    color: black;
    font-size: larger;
}

.tab-content {
    background: linear-gradient(
    72deg,
    #2c6368, #4F75FF
    );
    
    padding: 30px;
}


.course-card {
    padding: 2px;
}

.box {
    background-color: rgb(235, 245, 235);
    padding: 10px;
    border-radius: 20px;
}

.img-fluid {

    height: 12vw;
}

.first-button {
    width: 200px;
    border: black 1px solid;
    border-radius: 20px;
    padding: 5px;
    margin: 30px;
}

.second-button, .third-button {
    padding: 5px;
    border: none;
    border-radius: 30px;
    margin: 5px;
}

.second-button {
    background-color: rgb(101, 196, 101);
}


.third-button {
    background-color: transparent;
}



.fouth-button {
    background-color: transparent;
    border: blue 1px solid;
    width: 200px;
    border-radius: 20px;
    height: 35px;
}

.fifth-button {
    border: black 1px solid;
    width: 200px;
    border-radius: 20px;
    margin-top: 20px;
    height: 40px;
}

/******* Newsletter*******/
.bg-help {
    height: 250px;
    padding: 30px;
}

.help {
    padding: 20px;

}

/******* contact*******/
.bg-contact {
    height: 550px;
    margin: px;
    background: linear-gradient(
        72deg,
        #6439FF, #00CCDD
      );
}

.contact-heading {
    padding: 20px;
    color: white;
}

label {
    display: block;
    padding: 10px;
}

input{
    height: 30px;
    width: 500px;

}

.contact-address {
   padding: 60px;
   text-align: left;
   margin-left: 40px;
   margin-right: 40px;
}

.contact-address span {
   display: block;
 }

.right-box {
    padding: 15px;
    background: white;

}

.sixth-button {
    border: black 1px solid;
    border-radius: 20px;
    height: 40px;
    align-items: center;
    margin-top: 15px;
}

.send-message {
    padding: 10px;

}

/******* footer*******/
.bg-footer {
    margin: 30px;
    
}
.last-footer {
    background-color: (
        
        
    );
}

.last-footer p {
    font-size: 17px;
}

.quick-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quick-links a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.quick-links li a:hover {
    color: #407abd;
    text-decoration: underline;
}

.quick-links li a {
    transition: color 0.3s ease;
}


.social-login-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    -webkit-box-reflect: below 3px linear-gradient(transparent, #00000055);
  }
  .social-login-icons svg {
    width: 40px;
  }
  
  .social-icon-1,
  .social-icon-1-1,
  .social-icon-2,
  .social-icon-2-2,
  .social-icon-3,
  .social-icon-3-3,
  .social-icon-4,
  .social-icon-4-4,
  .social-icon-5,
  .social-icon-5-5 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 20px 0 0px 0;
  }
  
  .icon svg {
    fill: #111;
  }
  
  .socialcontainer {
    height: 70px;
    overflow: hidden;
  }
  .social-icon-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0);
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  }
  .social-icon-1 svg,
  .social-icon-2 svg,
  .social-icon-3 svg,
  .social-icon-4 svg,
  .social-icon-5 svg {
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .social-icon-1-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0, 0);
  }
  .socialcontainer:hover .social-icon-1 {
    transform: translateY(-70px);
  }
  .socialcontainer:hover .social-icon-1 svg,
  .socialcontainer:hover .social-icon-2 svg,
  .socialcontainer:hover .social-icon-3 svg,
  .socialcontainer:hover .social-icon-4 svg, 
  .socialcontainer:hover .social-icon-5 svg {
    opacity: 1;
  }
  .social-icon-2 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: linear-gradient(
      72.44deg,
      #ff7a00 11.92%,
      #ff0169 51.56%,
      #d300c5 85.69%
    );
  }
  .socialcontainer:hover .social-icon-2 {
    transform: translateY(-70px);
  }
  .social-icon-3 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: #316ff6;
  }
  
  .socialcontainer:hover .social-icon-3 {
    transform: translateY(-70px);
  }
  .social-icon-4 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  
    background: linear-gradient(
      180deg,
      rgba(129, 34, 144, 1) 0%,
      rgba(77, 34, 124, 1) 91%
    );
  }
  
  .socialcontainer:hover .social-icon-4 {
    transform: translateY(-70px);
  }
  .social-icon-5 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: #FF0000;
  }
  
  .socialcontainer:hover .social-icon-5 {
    transform: translateY(-70px);
  }

.to-top {
   color: black;
   position: fixed;
   height: 40px;
   right: 12px;
   bottom: 12px;
   width: 40px;
   text-align: center;
   border-radius: 50%;
   background-color: ;
   background-position: center;
   background-repeat: no-repeat;
}

.to-top:hover {
	background-color: aqua;
}
/********meida queries*******/
@media only screen and (max-width: 768px) {
    .jumbotron {
        padding: 30px;
    }
    .hero-section {
        font-size: 16px;
    }
    .first-button {
        font-size: 14px;
        padding: 10px 20px;
    }
    .abt-codecraft {
        padding: 20px;
    }
    .nav-underline {
        align-items: center;
        overflow-x: auto;
    }
    .nav-item {
        margin-bottom: 10px;
    }
    .nav-link {
        padding: 10px 15px;
        font-size: 15px;
    }
    .bg-contact {
        margin-bottom: 200px;
    }
    .contact-address {
        text-align: left;
        margin-left: 30px;
        margin-right: 20px;
        margin-bottom: 10px;
        padding: 10px;
     }
     .bg-about {
        padding-top: 10px;
    }
    .bottom-footer {
        padding-top: 30px;
    }
}
